form {
    width: 300px;
    background: rgb(0, 153, 0);
    border: 5px solid aquamarine;
    border-radius: 5px;
    margin: 0 auto;
    padding: 3.55rem 5rem;
    color: whitesmoke;
}

div {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
label {
    display: inline-block;
    width: 80px;
}
input {
    display: inline-block;
    width: 200px;
    border: 2px solid rgb(230, 0, 0);
}

input[type=button] {
    width: fit-content;
}
hr {
    margin-top: 10px;
    border: 2px dashed rgb(230, 0, 0);
    width: 100%;
}