nav > ul li {
    display: inline;
    margin-left: 100;
    margin-right: 100;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #696969;
}
li > a{
    margin-right: 20px;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: #696969;
}

.table-container{
    padding: 12px;
    border: 1.5px solid #696969;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.1px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
}
table th {

    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.1px;
    border-bottom: 3px solid #69696980;
}

.total {
    text-align: right;
}

.table-container-2 {
    margin-top: 1rem;
    padding: 12px;
    border: 1.5px solid #696969;
    border-radius: 10px;
    text-align: center;
}

.table-container-2 h2 {
    letter-spacing: 1.5px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #69696980;
    border-bottom: 3px solid #696969;
}
.table-container-2 h1 {
    color: #69696950;
    font-size: 40px;
    letter-spacing: 1.8px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

