.Formulario{
    background-color: green;
    color: white;
    padding: 50px;
    width: 330px;
    margin: 0 auto;
}
.espaciado{
    padding-left: 30px;
}
label{
    display: inline-block;
    width: 80px;
}
input{
    border: 2px solid red;
    padding-right: 40px;
}

.boton{
    /* falta bajas la linea punteada */
    border-top: 1px dashed ;
    padding:20px;
    width: 110px;
    
}

.btn{
    border: 5px;
    padding: 4px;
    border-radius: 5%;
}