<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main> <!-- TITULO -->
        <h1> <span style="font-size: 100pxx; color: blue; background-color: brown;">Titulo 1</span> </h1>
        <h2>Titulo 2</h2>
        <h2>Titulo 3</h2>
        <h4>Titulo 4</h4>
        <h5>Titulo 5</h5>
        <h6>Titulo 6</h6>
        <hr>
        <!-- ARTICULO -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam veritatis blanditiis perferendis deserunt incidunt quasi quos suscipit consequatur dicta at itaque earum, commodi quis quisquam vitae vero. Reprehenderit, }sapiente iusto?</p>
        <hr>

        <!-- Etiqueta de enlace -->
        <a href="https://www.google.com.mx/" target="black">Link</a>
        
        
        <hr>
    
    </main>
    
</body>
</html>